<div class="container">
  <form [formGroup]="searchForm">
    <input [formControl]="searchField" type="text" placeholder="Input search text">
    <div [hidden]="searchField.valid || searchField.untouched">
      <p>Oops something wrong!!!</p>
    </div>
    <select [formControl]="searchEngine">
      <option *ngFor="let item of serachSystems; let i=index" value={{item.host}}>{{item.name}}</option>
    </select>
    <div [hidden]="searchEngine.valid || searchEngine.untouched">
      <p>Oops something wrong!!!</p>
    </div>
    <button type="submit" [disabled]="!searchForm.valid" (click)="navigateTo()">Search</button>
  </form>
  <div class="results"></div>
</div>
